.Gallery.padding-container {
    margin-top: 120px;
    min-height: 100vh;
    height: auto;

}

.Gallery .full-container {
    /* width: 80vw; */
    /* height: 100vh; */
    min-height: 100vh;
    position: relative;
    /* margin: 0 auto; */
    text-align: center;
}

/* .Gallery .grow.full-container {
    height: 100vh;
} */

.Gallery .close {
    display: none;
} 

.Gallery .img-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: inline-block;
    /* transition: 0s; */
    margin: 10px;
}

.Gallery .wide img{
    height: 100%;
    width: auto;
}

.Gallery .tall img {
    width: 100%;
    height: auto;
}

.Gallery .img-container:hover {
    cursor: pointer;
}

.Gallery .img-container.expand {
    position: absolute;
    /* display: block; */
    top: 0;
    left: 50%;
    /* top: 50%; */
    transform: translateX(-50%);
    transition: 1s;
    z-index: 900;
    overflow: visible;
    z-index: 500;
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* height: 100%; */
    /* width: auto; */
    margin: 0 auto;
}

.Gallery .img-container.expand.tall {
    height: 80%;
    width: auto;
}

.Gallery .img-container.expand.wide {
    height: auto;
    width: 80%;
}

.Gallery .expand img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

/* .Gallery .img-container p, .Gallery .img-container h1 {
    display: none;
} */

.Gallery .img-container.expand p, .Gallery .img-container.expand h1 {
    /* display: inline-block; */
    /* position: absolute; */
}

.Gallery .img-container.expand h1 {
    /* bottom: 10px; */
    /* left: 50%; */
    /* color: black; */
    /* transform: translateX(-50%); */
}

.Gallery .img-container.expand .close {
    /* right: 10px; */
    /* top: -12px; */
    /* background: white; */
    /* color: black; */
    /* border-radius: 50%; */
    /* padding: 0px 9px 0px 9px; */
    /* font-size: 20px; */
    /* cursor: pointer; */
}

.Gallery img {
    /* width: auto; */
    /* height: 100%; */
}

.Gallery .img-container.fade {
    /* opacity: .3; */
    /* z-index: 100; */
}

.Gallery .img-container.expand {
    /* z-index: 200; */
}

@media only screen and (max-width: 776px) {
    .Gallery .img-container.expand.tall {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .Gallery .img-container.expand.wide {
        width: 100%;
    }

    .Gallery .img-container.expand {
        /* height: auto; */
    }
}
