.FullImg .txt-overlay{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-width: 85%;
    margin: 0 30px;
}

.FullImg {
    height: 100vh;
    background-size: cover;
    position: relative;
    min-height: 400px;
}