
.FullImg {
    height: 100vh;
    background-size: cover;
    position: relative;
    min-height: 400px;
}

.FullImg .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
}

.FullImg h1 {
    transform: translateY(-50%);
    padding: 0 10vw;
}