.ListDetails li {
    margin: 3vw auto;
}

.ListDetails p {
    padding-left: 3vw;
}

@media only screen and (max-width: 776px) {
    .ListDetails li, .List p {
        text-align: center;
        padding: 0;
    }

    .ListDetails p {
        margin-top: 5px;
    }

    .ListDetails hr {
        margin: 25px auto;
    }
}