
  .Carousel.section-images {
    margin: 120px 0 0 0 ;
    text-align: center;
    height: 80vh;
  }

  .Carousel.section-images .duet-flex {
    justify-content: center;
  }

  .Carousel.section-images ul {
      list-style: none;
      padding-left: 0;
  }

  .Carousel.section-images li {
      margin: 0 3vw 0;
      max-width: 100px;
  }

  .Carousel img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: 20px auto;
  }

  @media only screen and (max-width: 776px) {
      .Carousel.section-images {
        height: 100%;
      }

      .Carousel .duet-flex {
          display: flex;
      }
  }