.Carousel {
    width: 100vw;
    margin-top: 120px;
}

.Carousel .triplet-flex {
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    min-height: 0;
    max-height: 80vh;
    overflow: scroll;
}

.Carousel .carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-shrink: 1;
}

.Carousel .direction-btn img {
    width: 10vw;
    max-width: 150px;
    min-width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.Carousel .direction-btn img:hover {
    background: lightgrey;
    transition: .5s;
}

.Carousel img {
    max-width: 800vw;
    width: 100%;
}

@media only screen and (max-width: 776px) {
    .Carousel .triplet-flex {
        display: flex;
    }
}