.faq .sec1 {
    background-image: url('/background10.jpg');
}

.sec2 {
    background-image: url('/faq.jpg');
}

.faq hr {
    width: 100%;
    border-width: 1px;
    margin: 25px auto;
}

@media only screen and (max-width: 776px) {
    .faq .sec1 {
        background-position: -100px;
    }
}