.faq .sec1 {
    background-image: url('/background10.jpg');
}

.faq .sec2 {
    background-image: url('/background7.jpg');
}

.faq .tips .duet-flex {
    justify-content: center;
    margin: 4vw 0px;
}

.faq .tips .duet-flex .lcBackground {
    justify-content: center;
    margin: 0px 2vw;
}

.faq .lcBackground {
    height: 300px;
    width: 310px;
}


@media only screen and (max-width: 776px) {
    .faq .List li {
        margin: 4vw auto;
    }

    .faq .List h5 {
        text-decoration: underline;
    }

    .faq .List p {
        margin: 0;
    }
}

@media only screen and (max-width: 450px) {
    .faq .sec1 {
        background-position-x: 40%;
    }

    .faq .sec2 {
        background-position-x: 10%;
    }
    .faq .sec2 {
        background-image: url('/background7.jpg');
    }
}