body {
  margin: 0;
  padding: 0;
  font-family: 'Proza Libre', sans-serif;
  min-width: 350px;
}

/* Fonts */
h1, h2, h3, h4, h5, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.txt-ctr {
  text-align: center;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
}

.txt-sm {
  font-size: 12px;
}

.hr-10 {
  width: 10%;
}

.hr-25 {
  width: 25%;
}

.hr-33 {
  width: 33%;
}

.hr-50 {
  width: 50%;
}

.hr-75 {
  width: 75%;
}

.hr-100 {
  width: 100%;
}

section.padding-container {
  width: 90%;
  margin: 3vw auto;
}

.triplet-flex, .duet-flex, .quad-flex, .flexible {
  display: flex;
  margin: 30px auto;
}

.duet-flex {
  align-items: center;
  justify-content: space-around;
}

.third {
  flex: 0 1 30%;
}

.flex-left {
  order: 1
}

.flex-right {
  order: 2;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
}

.lg-hidden {
  display: none;
}

.btn-list {
  padding: 0;
}

@media only screen and (max-width: 776px) {
  h1 {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
    text-align: center;
  }

  p {
    font-size: 14px;
    text-align: left;
  }

  .page-title {
    margin-top: 5vw;
  }

  .triplet-flex, .duet-flex, .quad-flex {
    display: block;
  }

  .third {
    margin: 6vw auto;
}

  .lg-hidden {
    display: block;
  }

  .sm-hidden {
    display: none;
  }
  
}